.profile__button-add {
  width: 150px;
  height: 50px;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  margin: auto;
  position: relative;
  background: url(../images/add_button.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  color: white;
  cursor: pointer;
  margin-left: 18px;
  position: relative;
  background: url(../images/edit_button.svg);
}

.button__type-like {
  background: url(../images/button_like.svg) no-repeat;
  cursor: pointer;
  border: none;
  width: 21px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.button__type-like:hover {
  opacity: 0.6;
}

.button__like {
  background: url(../images/like.svg);
  opacity: 1;
}

.button_close {
  background: url(../images/close_button.svg) no-repeat center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  right: -40px;
  top: -40px;
  background-color: transparent;
  border: none;
}

.button_close:hover {
  opacity: 0.5;
}

.button__delete {
  background: url(../images/delete_button.svg) no-repeat;
  width: 19px;
  height: 19px;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: 18px;
  left: 247px;
}

.button__delete:hover {
  opacity: 0.5;
}

.profile__buttonAvatar {
  cursor: pointer;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border: transparent;
  padding: 0px;
  border-radius: 50%;
}

.profile__buttonAvatar:hover {
  background: url(../images/edit_button.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.popup__button-typeclose {
  background: url(../images/close_button.svg) no-repeat center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  right: -40px;
  top: -40px;
  background-color: transparent;
  border: none;
}

.popup__button-typesave {
  width: 358px;
  height: 50.152px;
  border-radius: 2px;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.popup__button-typesave:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .button_close {
    top: -8%;
    right: -19px;
  }

  .profile__button-add {
    width: 282px;
    height: 50px;
  }
}