.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 36px;
  padding-left: 19px;
}

.footer__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  color: #545454;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .footer__text {
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer__text {
    margin-left: 24px;
  }
}