.form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  margin: auto;
}

.form_displayed {
  display: flex;
}

.form__container {
  margin: auto;
  width: 282px;
  height: 322px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 25px 22px 25px 22px;
  position: relative;
}

.form__exit-button {
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  background-image: url(../images/form__exit-button.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 13px);
  right: 0
}

.form__exit-button:hover {
  opacity: 0.6;
}

.form__title {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
  font-style: normal;
  color: #000000;
  margin: 0;
}

.form__name {
  width: 238px;
  height: 27px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 75px;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.form__description {
  width: 236px;
  height: 27px;
  margin-top: 30px;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}

.form__save-button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  width: 238px;
  height: 46px;
  margin-top: 48px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form__save-button:hover {
  opacity: .8;
}

@media screen and (min-width: 720px) {
  .form__container {
    width: 430px;
    height: 330px;
    padding: 34px 36px 36px 36px;
  }

  .form__exit-button {
    width: 40px;
    height: 40px;
    bottom: calc(100% + 0px);
    left: calc(100% + 0px);
  }

  .form__name {
    width: 358px;
    margin-top: 54px;
  }

  .form__description {
    width: 356px;
  }

  .form__save-button {
    width: 358px;
    height: 50px;
    margin-top: 45px;
  }
}