.header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

.header__logo {
  padding-top: 28px;
  padding-left: 27px;
  padding-bottom: 32px;
  width: 126px;
  height: 24px;
}

.header__line {
  height: 1px;
  width: 100%;
  background: #545454;
}

@media screen and (min-width: 1280px) {
  .header__logo {
    width: 173px;
    height: 33px;
  }

  .header__line {
    width: 880px;
  }
}